@import 'src/assets/styles/variables';

%transition {
	cursor: pointer;
	transition: all 0.5s ease;

	&:hover {
		box-shadow: $box-shadow-image;
		transform: scale(1.05);
	}
}

%rotate {
	@extend %transition;
	transition: all 0.8s ease;

	&:hover {
		transform: rotate(180deg);
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 24px 5px 0;
	color: $color-white;
	background: linear-gradient(180deg, #91a9c1 0%, #d8e0e7 25.5%, #9db2c7 100%);

	&_actions {
		display: flex;
		justify-content: space-between;
		width: 40%;
	}

	&_logos {
		display: flex;
		justify-content: end;
		width: 50%;
	}

	&_hide {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&_text {
		color: $color-blue-dark;
		font-weight: 600;
		font-size: 8px;
		line-height: 10px;
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.3s ease;

		&:hover {
			color: $color-white;
		}
	}

	&_arrows {
		margin: 0 10px;

		@extend %transition;
	}

	&_open {
		@extend %rotate;
	}
}

.logo {
	align-self: center;
	margin-right: 10px;

	@extend %transition;
}
