@import 'src/assets/styles/variables';

.sidebar {
	position: relative;
	max-width: 330px;
	padding: 30px 24px;
	color: $color-white;
	background: $color-blue-dark;
	transform: translateX(0);
	transition: transform .3s ease, width .4s ease;

	&_actions {
		position: absolute;
		top: 12px;
		right: 12px;
		cursor: pointer;

		&:hover svg {
			transform: scale(1.2);
			transition: all 0.3s linear;

			path {
				fill: $color-blue-light;
			}
		}
	}

	&_close {
		width: 140px;
		transform: translateX(-100px);
	}

	&_content {
		transition: transform 0.5s ease, opacity 0.7s ease;
	}
}
