@import 'assets/styles/variables';

.object {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin-bottom: 10px;
	cursor: pointer;
	transition: color 0.3s ease;

	&_icon {
		display: flex;
		align-self: center;
		margin-right: 10px;
	}

	&:hover > &_title {
		color: $color-blue-light;
	}

	&:hover > &_icon {
		box-shadow: $box-shadow-image;
	}
}
