* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	font-family: Inter, sans-serif;
	scroll-behavior: smooth;
}

h1 {
	margin: 0;
}

a {
	all: unset;
}

li {
	list-style-type: none;
}
