$color-white: #fff;
$color-blue: #74a4d2;
$color-blue-dark: #33495e;
$color-blue-light: #72a5d4;
$color-gray-light: #e1ebec;
$color-gray: #909090;
$color-blue-text: #193e68;
$color-base-dark: #16222e;
$color-gray-lighter: #f8f8fb;
$box-shadow-image: 0 0 39px -7px rgb(13 13 227);
$box-shadow-header: 0 0 39px -7px rgb(5 5 49);
$bg-main: radial-gradient(257.33% 84.67% at 50% 50%, #79aef0 0%, #517ba5 50.5%, #2a4a71 100%);
