@import 'assets/styles/variables';

.block {
	margin-bottom: 20px;
	padding: 5px 0;
	font-size: 14px;
	background: $color-base-dark;
	border: 1px solid $color-blue-light;
	border-radius: 10px;

	&_content {
		margin: 24px 0 12px;

		&_objects {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&_title {
		padding: 12px;
		color: $color-white;
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid $color-blue-light;
	}
}
